spring:
  application:
    name: claims-service

  datasource:
    url: jdbc:postgresql://localhost:5432/claimsdb
    username: claims_user
    password: claims_password
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update   # für lokale Entwicklung ok, für Produktion später anders
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
    show-sql: true

server:
  port: 8080

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus
  metrics:
    export:
      prometheus:
        enabled: true
